/* :root {
  --main-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-contacts-text-color: rgba(255, 255, 255, 0.6);
  --main-dark-gray-color: #2f303a;
  --main-light-gray-color: #f5f4fa;
  --header-stroke-color: #ececec;
  --portfolio-stroke-color: #eeeeee;
  --hero-background-color: #c4c4c4;
  --hero-overlay-color: rgba(47, 48, 58, 0.4);
  --backdrop-black-color: #00000033;
  --modal-close-button-border-color: #0000001a;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* Общие */

/* body {
  color: var(--primary-text-color);
  background-color: var(--main-color);
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
} */

/* HEADER */
/* header {
  border-bottom: 1px solid var(--header-stroke-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 25px;
} */

/* Лого шапки*/

/* .header-logo {
  display: inline-flex;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-logo .studio {
  color: var(--title-text-color);
} */

/* Навигация шапки */

/* .main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 93px;
}

.site-nav li {
  margin-right: 50px;
  position: relative;
}

.site-nav .link.current,
.site-nav .link.current:hover,
.site-nav .link.current:focus,
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  position: absolute;
  content: '';
  bottom: -33.5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav .link {
  color: var(--title-text-color);
  transition: 250ms var(--time-function);
} */

/* Контакты шапки */

/* .contacts-header {
  display: flex;
  align-items: center;
}

.contacts-header a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 50px;
}

.contacts-header a:hover,
.contacts-header a:focus,
.contacts-fooder a:hover,
.contacts-fooder a:focus {
  color: var(--accent-color);
}

.contacts-header svg {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-header .link {
  display: flex;
  align-items: center;
  transition: 250ms var(--time-function);
} */

/* Герой */
/* 
.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-image: linear-gradient(var(--hero-overlay-color), var(--hero-overlay-color)), url('../images/hero_img.jpg');
  background-color: var(--main-dark-gray-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  color: var(--main-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.hero-buton {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  min-width: 200px;
} */

/* Модальное окно */

/* .backdrop {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  
  background-color: var(--backdrop-black-color);
  opacity: 1;
  transition: opacity 250ms var(--time-function);
}

.backdrop.is-hidden {
  pointer-events: none;
  
  opacity: 0;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transition: transform 250ms var(--time-function), opacity 500ms var(--time-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  
  background-color: #ffffff;
  opacity: 1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal .close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  
  fill: #000000;
  background-color: #ffffff;
  border: 1px solid var(--modal-close-button-border-color);
  transition: fill 250ms var(--time-function);
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: left;
  height: 342px;
}

.modal-label {
  position: relative;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.modal-field {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-input,
.modal-textarea {
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: color 250ms var(--time-function), border 250ms var(--time-function);
}

.modal-label .modal-input {
  height: 40px;
  padding: 12px 16px 12px 42px;
}

.modal-input:hover + .modal-icon,
.modal input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-form .modal-input:hover,
.modal-form .modal-input:focus,
.modal-form .modal-input:focus-within,
.modal-form .modal-textarea:hover,
.modal-form .modal-textarea:focus {
  border: 1px solid var(--accent-color);
  outline: 0;
}

.modal-label .modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: color 250ms var(--time-function), border 250ms var(--time-function);
}

.modal-label .modal-textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-checkbox .icon-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  background-origin: border-box;
  border: 2px solid var(--title-text-color);
  background-color: transparent;
  fill: transparent;
  
  transition: border-color 250ms var(--time-function), background-color 250ms var(--time-function),
  fill 250ms var(--time-function), box-shadow 250ms var(--time-function);
}

.modal-checkbox .visually-hidden:checked + .icon-checkbox {
  background-origin: border-box;
  background-color: var(--accent-color);
}

.modal .modal-checkbox {
  margin-bottom: 30px;
}

.modal .modal-checkbox label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-agreement .checkbox-link {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 7px;
}

.modal .modal-checkbox input:checked + .icon-checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  fill: var(--main-color);
}

.submit-button {
  display: inline-block;
  align-items: center;
  text-align: center;
  min-width: 200px;
  max-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--main-color);
  background-color: var(--accent-color);
  transition: 250ms var(--time-function), background-color 250ms var(--time-function);
}

.checkbox-agreement {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
} */

/* Особенности */

/* .section-title.hidden {
  display: none;
}

.features.section {
  padding-bottom: 0px;
}

.features-list {
  display: flex;
}

.features-list div {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
}

.features-list h3 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.features-list li {
  width: calc((100% - 90px) / 4);
}

.features-list li:not(:last-child) {
  margin-right: 30px;
} */

/* Чем мы занимаемся */

/* .directions-list {
  display: flex;
}

.directions-list li {
  position: relative;
}

.directions-list li:not(:last-child) {
  margin-right: 30px;
}

.direction-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: rgba(47, 48, 58, 0.8);
} */

/* Секция Наша Команда */

/* .team.section {
  background-color: var(--main-light-gray-color);
}

.team-list {
  display: flex;
}

.team-list > li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-color);
  text-align: center;
}

.team-list li:not(:last-child) {
  margin-right: 30px;
}

.team-list h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
} */

/* .social-container .social-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-icon li:not(:last-child) {
  margin-right: 10px;
}

.social-icon a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: var(--main-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: 250ms var(--time-function);
}

.team .social-icon a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: #afb1b8;
  background-color: var(--main-color);
  transition: 250ms var(--time-function), background-color 250ms var(--time-function);
}

.social-icon a:hover,
.social-icon a:focus {
  fill: var(--main-color);
  background-color: var(--accent-color);
} */

/* Постоянные клиенты */

/* .client-list {
  display: flex;
}

.client-list li:not(:last-child) {
  margin-right: 30px;
}

.client-list li {
  display: flex;
  width: calc((100% - 150px) / 6);
}

.client-list a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 90px;

  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms var(--time-function);
}

.client-list a:hover,
.client-list a:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
} */

/* Подвал */

/* .fooder {
  background-color: var(--main-dark-gray-color);
  padding-top: 60px;
  padding-bottom: 60px;
  height: 252;
}

.fooder .container {
  display: flex;
  align-items: baseline;
}

.fooder-logo {
  display: inline-flex;
  margin-bottom: 20px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.fooder-logo .studio {
  color: var(--main-color);
}

.contacts-fooder li {
  margin-top: 9px;
}

.fooder .addres {
  color: var(--main-color);
  width: 231px;
}

.contacts-fooder a {
  color: var(--footer-contacts-text-color);
  transition: 250ms var(--time-function);
}

.fooder .info {
  margin-right: 70px;
}

.fooder .social-icon {
  display: flex;
}

.fooder .fooder-social {
  width: 206px;
  margin-left: 0;
  margin-right: 93px;
}

.fooder .fooder-social p,
.fooder .subscription p {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.subscription .subscription-form {
  display: flex;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
  color: var(--main-color);
  background-color: transparent;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  outline: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

.subscribe-icon {
  margin-left: 10px;
} */

/* Портфолио */

.content-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.content-selector li:not(:last-child) {
  margin-right: 8px;
}

.content-selector button {
  display: inline-block;
  color: var(--title-text-color);
  background-color: var(--main-light-gray-color);
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  letter-spacing: 0.03em;
  transition: 250ms var(--time-function), background-color 250ms var(--time-function);
}

.content-selector button:hover,
.content-selector button:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.content-list {
  display: flex;
  flex-wrap: wrap;
}

.project-content {
  border-right: 1px solid var(--portfolio-stroke-color);
  border-bottom: 1px solid var(--portfolio-stroke-color);
  border-left: 1px solid var(--portfolio-stroke-color);
  padding: 20px 24px;
}

.content-list .projects {
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects a:hover,
.projects a:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content-list .projects:nth-child(3n) {
  margin-right: 0px;
}

.content-list .projects:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-content h2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-thump {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 110px;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--time-function);
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
  transform: translateY(0);
}

.project-content p {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
