.features.section {
  padding-bottom: 0px;
}

.section-title.hidden {
  display: none;
}

.features-list {
  display: flex;

  & div {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $main-light-gray-color;
    justify-content: center;
    align-items: center;
  }

  & h3 {
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  & li {
    width: calc((100% - 90px) / 4);
  }

  & li:not(:last-child) {
    margin-right: 30px;
  }
}
