header {
  border-bottom: 1px solid $header-stroke-color;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 25px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  display: inline-flex;
  color: $accent-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  & .studio {
    color: $title-text-color;
  }
}

.site-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 93px;

  & .link.current,
  & .link.current:hover,
  & .link.current:focus,
  & .link:hover,
  & .link:focus {
    color: $accent-color;
  }

  & .link.current::after {
    position: absolute;
    content: '';
    bottom: -33.5px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }

  & li {
    margin-right: 50px;
    position: relative;
  }

  & .link {
    color: $title-text-color;
    transition: 250ms $time-function;
  }
}

.contacts-header {
  display: flex;
  align-items: center;

  & a {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 50px;
  }

  & a:hover,
  & a:focus {
    color: $accent-color;
  }

  & svg {
    margin-right: 10px;
    fill: currentColor;
  }

  & .link {
    display: flex;
    align-items: center;
    transition: 250ms $time-function;
  }
}
